<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unemployment Chart</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <!-- Container for the legend -->
  <div id="legend" class="legend"></div>
  <!-- Container for the chart -->
  <div id="chart"></div>

  <!-- Include D3.js library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="../static/script.js"></script>

</body>
</html>
